* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #606060;
  text-decoration: none;
  font-family: 'Avenir Next', 'San Francisco', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 16px; }

*::selection {
  background: rgba(45, 169, 251, 0.25); }

a {
  font-weight: inherit;
  color: #e0e0e0;
  font-size: inherit;
  transition: .2s ease all; }
  a:hover {
    color: white;
    text-decoration: none;
    cursor: pointer; }

p {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

html {
  background: black;
  height: 100%;
  position: relative; }

body {
  background: black;
  height: 100%;
  padding-bottom: 48px;
  position: relative;
  min-width: 480px; }

header {
  min-height: 64px;
  padding: 8px 16px; }
  header .logo {
    display: inline-block;
    font-weight: 200;
    text-transform: title;
    height: 32px;
    padding: 8px;
    margin-bottom: 8px; }
    header .logo a {
      color: transparent !important;
      width: 192px;
      display: block;
      height: 32px;
      background: url("/images/mri.png");
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat; }
  header .nav {
    float: right;
    display: block; }
    header .nav li {
      display: inline;
      vertical-align: middle; }
    header .nav a {
      color: #e0e0e0;
      line-height: 48px;
      padding: 8px 16px;
      font-weight: 300; }
      header .nav a:hover {
        color: white; }
      header .nav a.selected {
        font-weight: 600;
        border-bottom: 2px solid #e0e0e0; }
      header .nav a[href='/'].selected {
        border-bottom-color: #1889f5; }
      header .nav a[href='/free'].selected {
        border-bottom-color: transparent; }
      header .nav a[href='/paid'].selected {
        border-bottom-color: transparent; }
      header .nav a[href='/articles'].selected {
        border-bottom-color: #c004b2; }

footer {
  font-weight: 200;
  text-align: center;
  color: #303030;
  display: block;
  padding: 1.5em;
  width: 100%;
  font-size: 16px; }
  footer a {
    color: #606060;
    padding: 8px 4px; }
    footer a:hover {
      color: #e0e0e0; }

main {
  background: black;
  text-align: center;
  font-size: 0;
  position: relative; }
  main section {
    border-radius: 8px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    background-position: center center;
    background-size: cover; }
    main section.wide {
      width: 100%;
      height: 384px;
      background-color: black;
      border-radius: 0; }
      main section.wide h2 {
        height: 384px;
        width: 10000000px;
        display: table-cell;
        vertical-align: middle;
        font-weight: 100;
        font-size: 64px;
        position: relative;
        color: white; }
    main section.medium {
      margin: 8px;
      width: 512px;
      height: 288px;
      background: black; }
      main section.medium > a {
        font-weight: 100;
        height: 288px;
        width: 512px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding: 0px 64px;
        font-size: 36px;
        color: white; }
    main section.small {
      width: 128px;
      height: 128px;
      border-radius: 0; }
    main section.wide > div, main section.hero > div {
      position: absolute;
      width: 100%;
      bottom: 0;
      margin-bottom: 16px; }
      main section.wide > div .mainButton, main section.hero > div .mainButton {
        color: black;
        transition: .2s ease all;
        box-shadow: 0 8px 32px -8px rgba(0, 0, 0, 0.5);
        background: white;
        display: inline-block;
        text-align: center;
        padding: 4px 16px;
        border-radius: 64px;
        font-weight: 600;
        text-decoration: none;
        padding: 12px 24px;
        font-weight: 600;
        font-size: 1.2em;
        width: 352px;
        display: block;
        margin: 16px auto; }
        main section.wide > div .mainButton:hover, main section.hero > div .mainButton:hover {
          box-shadow: 0 12px 64px 0 rgba(0, 0, 0, 0.75);
          transform: scale(1.1);
          background-color: white;
          cursor: pointer;
          text-decoration: none; }
        main section.wide > div .mainButton:active, main section.hero > div .mainButton:active {
          box-shadow: 0 8px 16px -8px transparent;
          transform: scale(0.9);
          background-color: #e6e6e6;
          text-decoration: none; }
        main section.wide > div .mainButton > div, main section.hero > div .mainButton > div {
          font-size: .75em; }
      main section.wide > div .secondaryButton, main section.hero > div .secondaryButton {
        transition: .2s ease all;
        box-shadow: 0 8px 32px -8px rgba(0, 0, 0, 0.5);
        background: black;
        display: inline-block;
        text-align: center;
        padding: 4px 16px;
        border-radius: 64px;
        font-weight: 600;
        text-decoration: none;
        width: 304px;
        display: block;
        margin: 8px auto;
        padding: 12px 24px;
        font-weight: 400; }
        main section.wide > div .secondaryButton:hover, main section.hero > div .secondaryButton:hover {
          box-shadow: 0 12px 64px 0 rgba(0, 0, 0, 0.75);
          transform: scale(1.1);
          background-color: #1a1a1a;
          cursor: pointer;
          text-decoration: none; }
        main section.wide > div .secondaryButton:active, main section.hero > div .secondaryButton:active {
          box-shadow: 0 8px 16px -8px transparent;
          transform: scale(0.9);
          background-color: black;
          text-decoration: none; }

@media (max-device-width: 960px), (max-width: 960px) {
  header {
    text-align: center; }
    header .nav {
      float: none;
      text-align: center; } }

/*# sourceMappingURL=base.css.map */
