// Colors
$selection: rgba(45,169,251,.25);
$red: #d11f04;
$green: #8ad104;
$blue: #1889f5;
$bluedk: #0230B2;
$purple: #c004b2;
$ffg: rgb(255,255,255);
$fg: rgb(160, 160, 160);
$mg: rgb(96, 96, 96);
$bg: rgb(0,0,0);
$bbg: rgb(0,0,0);

// Aliases

$home: $blue;
$free: transparent;
$paid: transparent;
$articles: $purple;

$link: $blue;
$linkh: $bluedk;

// Metrics
$border-radius: 8px;
