@import 'constants';
@import 'anim';
@import url('base.css');

.macoshero {
    background-image: url('/images/macos_core.jpg');
    background-size: cover;
    background-position: center center;
}

#gallery {
    background: $bbg;
    padding: 16px;

    &>h2 {
        color: $mg;
        font-size: 16px;
        font-weight: 200;
        margin-top: 16px;
        margin-bottom: 32px;
        &>a {
            color: $mg;
            &:hover {
                color: $fg;
            }
        }
    }
    &>div {
        max-width: 800px;
        margin: 0 auto;
    }
    .icon {
        box-sizing:content-box;
        width:128px;
        height:128px;
        padding: 8px;

        &.clickable {
            @include scaleHover();
        }

        img {
            width: 100%;
            height: 100%;

        }
        overflow: visible;
    }
}

// Mobile
@media (max-device-width: 960px), (max-width: 960px) {
    #gallery>h2 {
        font-weight: 400;
    }
}
